.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full);
  transition: all var(--transition-fast);
  color: hsl(var(--color-gray-800));
  background-color: transparent;
  flex-shrink: 0;
}

.iconButton:hover {
  background-color: hsl(var(--color-gray-100));
  color: hsl(var(--color-gray-900));
}

.iconButton:focus-visible {
  outline: 2px solid hsl(var(--color-accent-blue));
  outline-offset: 2px;
}

/* Variants */
.default {
  background-color: transparent;
}

.primary {
  background-color: hsl(var(--color-navy-700));
  color: hsl(var(--color-white));
}

.primary:hover {
  background-color: hsl(var(--color-navy-600));
  color: hsl(var(--color-white));
}

.ghost {
  background-color: transparent;
}

/* Sizes */
.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 40px;
  height: 40px;
}

.lg {
  width: 48px;
  height: 48px;
}

/* Active State */
.active {
  background-color: hsl(var(--color-navy-700) / 0.1);
  color: hsl(var(--color-navy-700));
}

.active:hover {
  background-color: hsl(var(--color-navy-700) / 0.15);
}
