.text {
  font-family: var(--font-family-sans);
  line-height: var(--line-height-normal);
  margin: 0 0 var(--space-4);
}

.body {
  font-size: var(--font-size-base);
  color: hsl(var(--color-gray-700));
}

.small {
  font-size: var(--font-size-sm);
  color: hsl(var(--color-gray-600));
}

.muted {
  font-size: var(--font-size-sm);
  color: hsl(var(--color-gray-500));
}
